.ArticleItem-Card {
  margin-bottom: 10px;
}

.ArticleItem-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: rgb(87, 96, 106);
  margin-left: 20px;
}
.ArticleItem-title:hover {
  color: rgb(50, 51, 53);
}

.ArticleItem-directory {
  font-size: 13px;
  color: rgb(87, 96, 106);
}
.ArticleItem-directory:hover {
  color: rgb(50, 51, 53);
}

.ArticleItem-date {
  font-size: smaller;
  background-color: white !important;
}
