.ArticleList-container {
  border-color: rgb(208, 215, 222);
  border-width: 1px;
  border-radius: 6px;
  margin: 10px 10px 10px 10px;
  height: auto;
  width: 7cm;
}

.ArticleList-titleContainer {
  background-color: rgb(246, 248, 250);
  padding: 6px 10px 6px 20px;
}

.ArticleList-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: large;    
  color:rgb(87, 96, 106);
}

.ArticleList-line {
  margin: 2% 0 2% 0;
  color: rgb(208, 215, 222);
}
