.Article-container {
  margin: 2px 10px 10px 10px;

  max-width: 65%;
  width: 65%;
}

.Article-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: rgb(87, 96, 106);
  margin-left: 20px;
}

.Article-directory {
  font-size: 13px;
  color: rgb(87, 96, 106);
}
.Article-directory:hover {
  color: rgb(50, 51, 53);
}

.Article-line {
  margin: 5px 0px 5px 0px;
  color: rgb(208, 215, 222);
}

.Article-date {
  font-size: smaller;
  background-color: white !important;
  text-align: right;
}

.Article-dateContainer {
  display: flex;
  justify-content: end;
}

.Article-MDcontainer {
  margin: 1% 5% 1% 5%;
}

.Article-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

ol,
ul {
  list-style: disc;
}

@media (max-width: 768px) {
  .Article-container {
    max-width: 95%;
    width: 95%;
  }
}
