.ArticlePreview-container {
  border-color: rgb(208,215,222);
  border-width: 1px;
  border-radius: 6px;
  margin: 10px 10px 10px 10px;
  height: auto;

  max-width: 65%;
  width: 65%;
}

.ArticlePreview-line {
  margin: 2% 0 2% 0;
  color: rgb(208,215,222); 
}

@media (max-width: 768px) {
    .ArticlePreview-container {
      max-width: 95%;
      width: 95%;
    };
}