.ArticlePreview-container {
  border-color: rgb(208,215,222);
  border-width: 1px;
  border-radius: 3%;
  margin: 2% 1% 2% 1%;
  height: auto;
  width: auto;
}

.ArticlePreview-line {
  margin: 2% 0 2% 0;
  color: rgb(208,215,222); 
}
