.Navbar-container {
  box-shadow: 1px 1px 5px rgb(200, 200, 200);
  background-color: white !important;
}

.Navbar-title {
  font-family: "Ubuntu", sans-serif;
  color: rgb(15, 136, 235)!important;
}

.nav-link.active {
  color: black;
  font-weight: 500;
}

.googleLogin {
  box-shadow: 0 0 0 0 white !important;
  width: 100%;
}
